#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1176R.
#

# Period Constraints 
#FREQUENCY PORT "CLK_EXT" 1.0 MHz;
#FREQUENCY PORT "spi_clk" 1.0 MHz;
#FREQUENCY NET "com/mem_clk" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "spi_clk_c" TO CLKNET "CLK_EXT_c";
#BLOCK PATH FROM CLKNET "CLK_EXT_c" TO CLKNET "spi_clk_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
