(edif FIFO_OUT
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2015 9 10 16 39 40)
      (program "SCUBA" (version "Diamond (64-bit) 3.5.1.302"))))
      (comment "C:\lscc\diamond\3.5_x64\ispfpga\bin\nt64\scuba.exe -w -n FIFO_OUT -lang verilog -synth synplify -bb -arch xo2c00 -type ebfifo -depth 1024 -width 16 -rwidth 8 -regout -resetmode ASYNC -reset_rel ASYNC -no_enable -pe 256 -pf 960 ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell FIFO8KB
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port DI0
            (direction INPUT))
          (port DI1
            (direction INPUT))
          (port DI2
            (direction INPUT))
          (port DI3
            (direction INPUT))
          (port DI4
            (direction INPUT))
          (port DI5
            (direction INPUT))
          (port DI6
            (direction INPUT))
          (port DI7
            (direction INPUT))
          (port DI8
            (direction INPUT))
          (port DI9
            (direction INPUT))
          (port DI10
            (direction INPUT))
          (port DI11
            (direction INPUT))
          (port DI12
            (direction INPUT))
          (port DI13
            (direction INPUT))
          (port DI14
            (direction INPUT))
          (port DI15
            (direction INPUT))
          (port DI16
            (direction INPUT))
          (port DI17
            (direction INPUT))
          (port CSW0
            (direction INPUT))
          (port CSW1
            (direction INPUT))
          (port CSR0
            (direction INPUT))
          (port CSR1
            (direction INPUT))
          (port FULLI
            (direction INPUT))
          (port EMPTYI
            (direction INPUT))
          (port WE
            (direction INPUT))
          (port RE
            (direction INPUT))
          (port ORE
            (direction INPUT))
          (port CLKW
            (direction INPUT))
          (port CLKR
            (direction INPUT))
          (port RST
            (direction INPUT))
          (port RPRST
            (direction INPUT))
          (port DO0
            (direction OUTPUT))
          (port DO1
            (direction OUTPUT))
          (port DO2
            (direction OUTPUT))
          (port DO3
            (direction OUTPUT))
          (port DO4
            (direction OUTPUT))
          (port DO5
            (direction OUTPUT))
          (port DO6
            (direction OUTPUT))
          (port DO7
            (direction OUTPUT))
          (port DO8
            (direction OUTPUT))
          (port DO9
            (direction OUTPUT))
          (port DO10
            (direction OUTPUT))
          (port DO11
            (direction OUTPUT))
          (port DO12
            (direction OUTPUT))
          (port DO13
            (direction OUTPUT))
          (port DO14
            (direction OUTPUT))
          (port DO15
            (direction OUTPUT))
          (port DO16
            (direction OUTPUT))
          (port DO17
            (direction OUTPUT))
          (port EF
            (direction OUTPUT))
          (port AEF
            (direction OUTPUT))
          (port AFF
            (direction OUTPUT))
          (port FF
            (direction OUTPUT)))))
    (cell FIFO_OUT
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (rename Data0 "Data(0)")
            (direction INPUT))
          (port (rename Data1 "Data(1)")
            (direction INPUT))
          (port (rename Data2 "Data(2)")
            (direction INPUT))
          (port (rename Data3 "Data(3)")
            (direction INPUT))
          (port (rename Data4 "Data(4)")
            (direction INPUT))
          (port (rename Data5 "Data(5)")
            (direction INPUT))
          (port (rename Data6 "Data(6)")
            (direction INPUT))
          (port (rename Data7 "Data(7)")
            (direction INPUT))
          (port (rename Data8 "Data(8)")
            (direction INPUT))
          (port (rename Data9 "Data(9)")
            (direction INPUT))
          (port (rename Data10 "Data(10)")
            (direction INPUT))
          (port (rename Data11 "Data(11)")
            (direction INPUT))
          (port (rename Data12 "Data(12)")
            (direction INPUT))
          (port (rename Data13 "Data(13)")
            (direction INPUT))
          (port (rename Data14 "Data(14)")
            (direction INPUT))
          (port (rename Data15 "Data(15)")
            (direction INPUT))
          (port WrClock
            (direction INPUT))
          (port RdClock
            (direction INPUT))
          (port WrEn
            (direction INPUT))
          (port RdEn
            (direction INPUT))
          (port Reset
            (direction INPUT))
          (port RPReset
            (direction INPUT))
          (port (rename Q0 "Q(0)")
            (direction OUTPUT))
          (port (rename Q1 "Q(1)")
            (direction OUTPUT))
          (port (rename Q2 "Q(2)")
            (direction OUTPUT))
          (port (rename Q3 "Q(3)")
            (direction OUTPUT))
          (port (rename Q4 "Q(4)")
            (direction OUTPUT))
          (port (rename Q5 "Q(5)")
            (direction OUTPUT))
          (port (rename Q6 "Q(6)")
            (direction OUTPUT))
          (port (rename Q7 "Q(7)")
            (direction OUTPUT))
          (port Empty
            (direction OUTPUT))
          (port Full
            (direction OUTPUT))
          (port AlmostEmpty
            (direction OUTPUT))
          (port AlmostFull
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance FIFO_OUT_0_1
            (viewRef view1 
              (cellRef FIFO8KB))
            (property FULLPOINTER1
              (string "0b01111111111000"))
            (property FULLPOINTER
              (string "0b10000000000000"))
            (property AFPOINTER1
              (string "0b01110111111000"))
            (property AFPOINTER
              (string "0b01111000000000"))
            (property AEPOINTER1
              (string "0b00010000000100"))
            (property AEPOINTER
              (string "0b00010000000000"))
            (property ASYNC_RESET_RELEASE
              (string "ASYNC"))
            (property GSR
              (string "DISABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE
              (string "OUTREG"))
            (property CSDECODE_R
              (string "0b11"))
            (property CSDECODE_W
              (string "0b11"))
            (property DATA_WIDTH_R
              (string "4"))
            (property DATA_WIDTH_W
              (string "9")))
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance FIFO_OUT_1_0
            (viewRef view1 
              (cellRef FIFO8KB))
            (property FULLPOINTER1
              (string "0b00000000000000"))
            (property FULLPOINTER
              (string "0b11111111111100"))
            (property AFPOINTER1
              (string "0b00000000000000"))
            (property AFPOINTER
              (string "0b11111111111100"))
            (property AEPOINTER1
              (string "0b00000000000000"))
            (property AEPOINTER
              (string "0b11111111111100"))
            (property ASYNC_RESET_RELEASE
              (string "ASYNC"))
            (property GSR
              (string "DISABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE
              (string "OUTREG"))
            (property CSDECODE_R
              (string "0b11"))
            (property CSDECODE_W
              (string "0b11"))
            (property DATA_WIDTH_R
              (string "4"))
            (property DATA_WIDTH_W
              (string "9")))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))
              (portRef CSR1 (instanceRef FIFO_OUT_0_1))
              (portRef CSW1 (instanceRef FIFO_OUT_0_1))
              (portRef CSW0 (instanceRef FIFO_OUT_0_1))
              (portRef ORE (instanceRef FIFO_OUT_0_1))
              (portRef RE (instanceRef FIFO_OUT_0_1))
              (portRef CSR1 (instanceRef FIFO_OUT_1_0))
              (portRef CSW1 (instanceRef FIFO_OUT_1_0))
              (portRef CSW0 (instanceRef FIFO_OUT_1_0))
              (portRef ORE (instanceRef FIFO_OUT_1_0))
              (portRef RE (instanceRef FIFO_OUT_1_0))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef DI17 (instanceRef FIFO_OUT_0_1))
              (portRef DI16 (instanceRef FIFO_OUT_0_1))
              (portRef DI15 (instanceRef FIFO_OUT_0_1))
              (portRef DI14 (instanceRef FIFO_OUT_0_1))
              (portRef DI13 (instanceRef FIFO_OUT_0_1))
              (portRef DI12 (instanceRef FIFO_OUT_0_1))
              (portRef DI11 (instanceRef FIFO_OUT_0_1))
              (portRef DI10 (instanceRef FIFO_OUT_0_1))
              (portRef DI9 (instanceRef FIFO_OUT_0_1))
              (portRef DI8 (instanceRef FIFO_OUT_0_1))
              (portRef DI17 (instanceRef FIFO_OUT_1_0))
              (portRef DI16 (instanceRef FIFO_OUT_1_0))
              (portRef DI15 (instanceRef FIFO_OUT_1_0))
              (portRef DI14 (instanceRef FIFO_OUT_1_0))
              (portRef DI13 (instanceRef FIFO_OUT_1_0))
              (portRef DI12 (instanceRef FIFO_OUT_1_0))
              (portRef DI11 (instanceRef FIFO_OUT_1_0))
              (portRef DI10 (instanceRef FIFO_OUT_1_0))
              (portRef DI9 (instanceRef FIFO_OUT_1_0))
              (portRef DI8 (instanceRef FIFO_OUT_1_0))))
          (net partial_full
            (joined
              (portRef AlmostFull)
              (portRef AFF (instanceRef FIFO_OUT_0_1))))
          (net partial_empty
            (joined
              (portRef AlmostEmpty)
              (portRef AEF (instanceRef FIFO_OUT_0_1))))
          (net Full
            (joined
              (portRef Full)
              (portRef FULLI (instanceRef FIFO_OUT_1_0))
              (portRef FF (instanceRef FIFO_OUT_0_1))
              (portRef FULLI (instanceRef FIFO_OUT_0_1))))
          (net Empty
            (joined
              (portRef Empty)
              (portRef EMPTYI (instanceRef FIFO_OUT_1_0))
              (portRef EF (instanceRef FIFO_OUT_0_1))
              (portRef EMPTYI (instanceRef FIFO_OUT_0_1))))
          (net Q_7
            (joined
              (portRef Q7)
              (portRef DO3 (instanceRef FIFO_OUT_1_0))))
          (net Q_6
            (joined
              (portRef Q6)
              (portRef DO2 (instanceRef FIFO_OUT_1_0))))
          (net Q_5
            (joined
              (portRef Q5)
              (portRef DO1 (instanceRef FIFO_OUT_1_0))))
          (net Q_4
            (joined
              (portRef Q4)
              (portRef DO0 (instanceRef FIFO_OUT_1_0))))
          (net Q_3
            (joined
              (portRef Q3)
              (portRef DO3 (instanceRef FIFO_OUT_0_1))))
          (net Q_2
            (joined
              (portRef Q2)
              (portRef DO2 (instanceRef FIFO_OUT_0_1))))
          (net Q_1
            (joined
              (portRef Q1)
              (portRef DO1 (instanceRef FIFO_OUT_0_1))))
          (net Q
            (joined
              (portRef Q0)
              (portRef DO0 (instanceRef FIFO_OUT_0_1))))
          (net RPRst
            (joined
              (portRef RPReset)
              (portRef RPRST (instanceRef FIFO_OUT_0_1))
              (portRef RPRST (instanceRef FIFO_OUT_1_0))))
          (net reset
            (joined
              (portRef Reset)
              (portRef RST (instanceRef FIFO_OUT_0_1))
              (portRef RST (instanceRef FIFO_OUT_1_0))))
          (net rden
            (joined
              (portRef RdEn)
              (portRef CSR0 (instanceRef FIFO_OUT_0_1))
              (portRef CSR0 (instanceRef FIFO_OUT_1_0))))
          (net wren
            (joined
              (portRef WrEn)
              (portRef WE (instanceRef FIFO_OUT_0_1))
              (portRef WE (instanceRef FIFO_OUT_1_0))))
          (net rclk
            (joined
              (portRef RdClock)
              (portRef CLKR (instanceRef FIFO_OUT_0_1))
              (portRef CLKR (instanceRef FIFO_OUT_1_0))))
          (net wclk
            (joined
              (portRef WrClock)
              (portRef CLKW (instanceRef FIFO_OUT_0_1))
              (portRef CLKW (instanceRef FIFO_OUT_1_0))))
          (net datain15
            (joined
              (portRef Data15)
              (portRef DI7 (instanceRef FIFO_OUT_1_0))))
          (net datain14
            (joined
              (portRef Data14)
              (portRef DI6 (instanceRef FIFO_OUT_1_0))))
          (net datain13
            (joined
              (portRef Data13)
              (portRef DI5 (instanceRef FIFO_OUT_1_0))))
          (net datain12
            (joined
              (portRef Data12)
              (portRef DI4 (instanceRef FIFO_OUT_1_0))))
          (net datain11
            (joined
              (portRef Data11)
              (portRef DI7 (instanceRef FIFO_OUT_0_1))))
          (net datain10
            (joined
              (portRef Data10)
              (portRef DI6 (instanceRef FIFO_OUT_0_1))))
          (net datain9
            (joined
              (portRef Data9)
              (portRef DI5 (instanceRef FIFO_OUT_0_1))))
          (net datain8
            (joined
              (portRef Data8)
              (portRef DI4 (instanceRef FIFO_OUT_0_1))))
          (net datain7
            (joined
              (portRef Data7)
              (portRef DI3 (instanceRef FIFO_OUT_1_0))))
          (net datain6
            (joined
              (portRef Data6)
              (portRef DI2 (instanceRef FIFO_OUT_1_0))))
          (net datain5
            (joined
              (portRef Data5)
              (portRef DI1 (instanceRef FIFO_OUT_1_0))))
          (net datain4
            (joined
              (portRef Data4)
              (portRef DI0 (instanceRef FIFO_OUT_1_0))))
          (net datain3
            (joined
              (portRef Data3)
              (portRef DI3 (instanceRef FIFO_OUT_0_1))))
          (net datain2
            (joined
              (portRef Data2)
              (portRef DI2 (instanceRef FIFO_OUT_0_1))))
          (net datain1
            (joined
              (portRef Data1)
              (portRef DI1 (instanceRef FIFO_OUT_0_1))))
          (net datain0
            (joined
              (portRef Data0)
              (portRef DI0 (instanceRef FIFO_OUT_0_1))))))))
  (design FIFO_OUT
    (cellRef FIFO_OUT
      (libraryRef ORCLIB)))
)
