//for MACHXO2-7000HC - USD3.0 PCB
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
//Transmitter
LOCATE COMP "TX_PWDN[0]" SITE "PT36D" ;//109
LOCATE COMP "TX_PWDN[1]" SITE "PT36C" ;//108
LOCATE COMP "TX_CLK[0]" SITE "PR2B" ;//106
LOCATE COMP "TX_CLK[1]" SITE "PR2A" ;//107
LOCATE COMP "TX_SWITCH" SITE "PR3A" ;//105
//Receiver
LOCATE COMP "RX_CLK" 	SITE "PT9A" ;//143
LOCATE COMP "RX_PWDN" 	SITE "PT9B" ;//142
LOCATE COMP "RX[0]" 	SITE "PT10A" ;//141
LOCATE COMP "RX[1]" 	SITE "PT10B" ;//140
LOCATE COMP "RX[2]" 	SITE "PT11A" ;//139
LOCATE COMP "RX[3]" 	SITE "PT11B" ;//138
LOCATE COMP "RX[4]" 	SITE "PT15A" ;//133
LOCATE COMP "RX[5]" 	SITE "PT15B" ;//132
LOCATE COMP "RX[6]" 	SITE "PT18B" ;//127 
LOCATE COMP "RX[7]" 	SITE "PT25A" ;//122
LOCATE COMP "RX[8]" 	SITE "PT25B" ;//121
LOCATE COMP "RX[9]"  	SITE "PT28A" ;//117
LOCATE COMP "RX[10]" 	SITE "PT28B" ;//115
LOCATE COMP "RX[11]" 	SITE "PT33A" ;//114
LOCATE COMP "RX[12]" 	SITE "PT33B" ;//113
LOCATE COMP "RX[13]" 	SITE "PT35A" ;//112
LOCATE COMP "RX_OTR" 	SITE "PT35B" ;//111
//Transmission
LOCATE COMP "DATA_CLK" 	SITE "PR3B"  ; //104
LOCATE COMP "ROI_SYNC" 	SITE "PR11B" ; // 93
LOCATE COMP "DATA_IN_CLK"	SITE "PR12B" ; // 91 //CLK IN DATA!!! CTOUT2
LOCATE COMP "DATA_OUT[0]" 	SITE "PR4C"  ; //103
LOCATE COMP "DATA_OUT[1]" 	SITE "PR5A"  ; //100
LOCATE COMP "DATA_OUT[2]" 	SITE "PR5B"  ; // 99
LOCATE COMP "DATA_OUT[3]" 	SITE "PR7A"  ; // 98
LOCATE COMP "DATA_OUT[4]" 	SITE "PR7B"  ; // 97
LOCATE COMP "DATA_OUT[5]" 	SITE "PR12A" ; // 92
LOCATE COMP "DATA_OUT[6]" 	SITE "PR9A"  ; // 96
LOCATE COMP "DATA_OUT[7]" 	SITE "PR24B" ; // 73
//Control
LOCATE COMP "spi_clk" 	SITE "PB12A" ;//44 0
LOCATE COMP "spi_miso" 	SITE "PB12B" ;//45 1
LOCATE COMP "spi_mosi" 	SITE "PB38B" ;//71 2
LOCATE COMP "spi_csn" 	SITE "PB37B" ;//69 3
//LOCATE COMP "spi_ufm_sn" SITE "PB38A" ;//70 - for flashing
LOCATE COMP "ENABLE" 	SITE "PR9B" ; // 95
//Testpoints
LOCATE COMP "TP[0]" SITE "PL22B" ; //TP14
LOCATE COMP "TP[1]" SITE "PL23D" ; //TP15
LOCATE COMP "TP[2]" SITE "PL24A" ; //TP16
LOCATE COMP "TP[3]" SITE "PL24B" ; //TP17
LOCATE COMP "TP[4]" SITE "PL25A" ; //TP18
LOCATE COMP "TP[5]" SITE "PL25B" ; //TP19
//CLK
LOCATE COMP "CLK_EXT" SITE "PT18A" ;//128
FREQUENCY PORT "CLK_EXT" 64.000000 MHz ;
FREQUENCY PORT "spi_clk" 16.000000 MHz ;
VOLTAGE 3.300 V;