//for MachXO2280C Final DOP- Platine
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
//RX
LOCATE COMP "ADC_CLK" SITE "21" ;
LOCATE COMP "ADC_PWDN" SITE "19" ;
LOCATE COMP "ADC[0]" SITE "18" ;
LOCATE COMP "ADC[1]" SITE "16" ;
LOCATE COMP "ADC[2]" SITE "15" ;
LOCATE COMP "ADC[3]" SITE "14" ;
LOCATE COMP "ADC[4]" SITE "13" ;
LOCATE COMP "ADC[5]" SITE "12" ;
LOCATE COMP "ADC[6]" SITE "11" ;
LOCATE COMP "ADC[7]" SITE "10" ;
LOCATE COMP "ADC[8]" SITE "8" ;
LOCATE COMP "ADC[9]" SITE "7" ;
LOCATE COMP "ADC[10]" SITE "5" ;
LOCATE COMP "ADC[11]" SITE "4" ;
LOCATE COMP "ADC[12]" SITE "3" ;
LOCATE COMP "ADC[13]" SITE "2" ;
//INTERFACE
//LOCATE COMP "SPI[0]" SITE "58" ;//Data00 - U3 - SCK
//LOCATE COMP "SPI[1]" SITE "60" ;//Data01 - L3 - MOSI
//LOCATE COMP "SPI[2]" SITE "61" ;//Data02 - U4 - MISO
//LOCATE COMP "ENABLE" SITE "62" ;//Data03 - L4 - EN
//LOCATE COMP "READY2READ" SITE "63" ;//Data04 - U5 - EN
//LOCATE COMP "FULL" SITE "65" ;//Data04 - U6
//LOCATE COMP "EMPTY" SITE "67" ;//Data04 - L6
//new
LOCATE COMP "SPI[0]" SITE "75" ;//Data14 - U3 - SCK
LOCATE COMP "SPI[1]" SITE "73" ;//Data01 - L3 - MOSI
LOCATE COMP "SPI[2]" SITE "71" ;//Data02 - U4 - MISO
LOCATE COMP "ENABLE" SITE "68" ;//Data03 - L4 - EN
LOCATE COMP "READY2READ" SITE "65" ;//Data04 - U5 - EN
//LOCATE COMP "FULL" SITE "63" ;//Data04 - U6
//LOCATE COMP "EMPTY" SITE "61" ;//Data04 - L6
//LOCATE COMP "TRIGGER" SITE "78" ;
//TX
LOCATE COMP "TX[0]" SITE "22" ;//TX_PDWN_0
LOCATE COMP "TX[1]" SITE "25" ;//TX_PDWN_1
LOCATE COMP "TX[2]" SITE "24" ;//TX_POS
LOCATE COMP "TX[3]" SITE "23" ;//TX_NEG
//LOCATE COMP "" SITE "" ;
LOCATE COMP "CLK_64MHz" SITE "87" ;
FREQUENCY PORT "CLK_64MHz" 64.000000 MHz ;
//IOBUF PORT "ADC[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "ADC[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
//IOBUF PORT "TX[1]" IO_TYPE=LVCMOS33 ;
//IOBUF PORT "TX[2]" IO_TYPE=LVCMOS33 DRIVE=8 ;
//IOBUF PORT "ADC_CLK" IO_TYPE=LVCMOS33 DRIVE=16 OPENDRAIN=ON ;
//IOBUF PORT "ADC_PWDN" IO_TYPE=LVCMOS33 ;
//IOBUF PORT "TX[3]" IO_TYPE=LVCMOS33 ;
//IOBUF PORT "TX[0]" IO_TYPE=LVCMOS33 ;
